:global .App {
  text-align: center;
}

:global .table td, .table th{
  text-align: center;
}

:global .table th{
  width: 20% !important;
}

:global .form-control{
  width: 100% !important;
}

:global .form-inline{
  justify-content: center;
}